
		<h1>
			<span class="letter">S</span> O U L <span class="letter">D</span> O N U T S<br><br>

		<%= link_to "Delve Into Donut Paradise", donuts_path, class: "btn btn-primary btn-lg outline" %>
		</h1>

		<img src="http://www.stylemarquee.com/wp-content/uploads/2011/03/donut-shop-3.png"><br><br>




