<div class="jumbotron">

	<center>
		<h1>Welcome to Rachel's Donut Shop ^_^</h1>

		<img src="https://img1.etsystatic.com/032/1/8111933/il_570xN.603965095_lr6h.jpg"><br>

		<%= link_to "Our donuts are delicious~!", donuts_path, class: "btn btn-default" %>
	</center>



</div>
<p>This is a test.</p>