/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
 	font-weight: bold;
 	font-size: 24px;
 	padding: 2%;
 	float: left;
 	display: inline-block;
 }

 .row {
 	display: inline-block;
 	clear: both;
 	position: absolute;
 	float: right;
 }

 p {
 	font-size: 1.2em;
 }

 .letter {
 	color:#F61E6A;
 }

 .about {
 	max-width: 500px;
 }

.container {
	float: right;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid #F61E6A;
	color: #F61E6A;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #D7134A;
	border-color: #D7134A;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #D7134A;
	color: #D7134A;
	box-shadow: none;
}